<div class="col-2 mt-3"></div>
<div class="col-8 mt-3 popup-duyet">
  <form action="/writer/editPage/<%= post.id%>&<%=typeDraft%>" method="POST" id="frmPost">
    <div class="card text-center shadow-sm ">
      <div class="card-header bg-success">
        <h4>Hiệu chỉnh bài viết</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="tieude" class="h5">Tiêu đề</label>
          <input type="text" class="form-control" id="tieude" name="tieude" value="<%= post.tieuDe %>">
        </div>
        <div class="form-group">
          <label for="tieude" class="h5">Ảnh đại diện</label>
          <div class="file-loading">
            <input id="fuMain" name="fuMain" type="file" multiple>
          </div>
        </div>
        <input type="hidden" id="imgPath" name="imgPath" value="<%= post.imagePath %>">

        <div class="form-group">
          <label for="tomtat" class="h5">Tóm tắt nội dung</label>
          <textarea class="form-control" id="tomtat" rows="3" name="tomtat"><%= post.noiDungTomTat %></textarea>
        </div>
        <div class="form-group">
          <label for="tags" class="h5">Các tag</label>
          <input type="text" class="form-control" id="tags" name="tags" value="<%= post.tag %>">
        </div>
        <div class="form-group">
          <label for="chuyemmuc" class="h5">Chuyên mục</label>
          <select class="form-control" id="chuyenmuc" name="chuyenmuc">
            <% listCat.forEach(function(e){ %>
            <% if(e === post.tenChuyenMuc){ %>
            <option selected><%= e %></option>
            <% } else { %>
            <option><%= e %></option>
            <% } %>
            <% }) %>
          </select>
        </div>
        <textarea name="wysiwyg" class="form-control" id="wysiwyg">
          <%= post.noiDung %>
        </textarea>
        <hr>
        <a href="javascript: $('#frmPost').submit();" class="btn btn-primary">Hiệu chỉnh</a>
      </div>
    </div>
  </form>
</div>