<% var path = '/public/resource/img/post/'%>
<% var chuyenmuc%>
<% switch(tenchuyenmuc) {
        case 'Kinh doanh': chuyenmuc = 'kinh-doanh'; break; 
        case 'Thể thao': chuyenmuc = 'the-thao'; break; 
        case 'Pháp luật': chuyenmuc = 'phap-luat'; break; 
        case 'Giáo dục': chuyenmuc = 'giao-duc'; break; 
        case 'Giải trí': chuyenmuc = 'giai-tri'; break; 
        case 'Đời sống': chuyenmuc = 'doi-song'; break; 
        case 'Thế giới': chuyenmuc = 'the-gioi'; break; 
        case 'Công nghệ': chuyenmuc = 'cong-nghe'; break; 
        case 'Quân sự': chuyenmuc = 'quan-su'; break; 
        case 'Du lịch': chuyenmuc = 'du-lich'; break; 
    } %>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Danh sách bài viết</title>
    <%- include('../layouts/TrangChu/head') -%>
</head>

<body>
    <%- include('../layouts/TrangChu/navbar') -%>
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb" style="padding-top: 1rem;padding-bottom:1rem;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"
                                        aria-hidden="true"></i> Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="/list/<%=chuyenmuc%>"><%= tenchuyenmuc %></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Danh sách bài viết</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Archive Post Area Start ##### -->
    <div class="archive-post-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-8">
                    <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">
                        <% list.forEach(function(i){%>
                        <!-- Single Catagory Post -->
                        <div class="single-catagory-post d-flex flex-wrap">
                            <div class="post-thumbnail bg-img"
                                style="background-image: url(<%=path%><%=i.imagePath%>);">
                            </div>
                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#"><%=moment(i.ngayDang).format("DD-MM-YYYY HH:mm")%></a>
                                    <a href="/list/<%=chuyenmuc%>"><%= tenchuyenmuc %></a>
                                </div>
                                <a href="/post/<%= i.idBaiViet%>" class="post-title"><%=i.tieuDe%></a>
                                <p><%=i.noiDungTomTat%></p>
                                <% if(i.isPremium === true){%>
                                <p class="premium">Premium</p>
                                <%}%>
                            </div>
                        </div>
                        <%});%>

                                <!-- Pagination -->
                                <nav>
                                    <ul class="pagination">
                                        <%if (pages.length == 1){%>
                                        <li class="page-item active"><a class="page-link">1</a></li>
                                        <%}else{%>
                                        <li class="page-item"><a class="page-link" href="?page=<%=current-1%>"><i
                                                    class="ti-angle-left"></i></a></li>
                                        <%pages.forEach(function(i){%>
                                        <%if (i.active){%>
                                        <li class="page-item active"><a class="page-link"
                                                href="?page=<%=i.value%>"><%=i.value%></a></li>
                                        <%}else{%>
                                        <li class="page-item"><a class="page-link"
                                                href="?page=<%=i.value%>"><%=i.value%></a>
                                        </li>
                                        <%}%>
                                <%});%>
                                        <li class="page-item"><a class="page-link" href="?page=<%=current+1%>"><i
                                                    class="ti-angle-right"></i></a></li>
                                        <%}%>
                                
                            </ul>
                        </nav>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <div class="sidebar-area bg-white mb-30 box-shadow">
                        <!-- Sidebar Widget -->
                        <div class="single-sidebar-widget p-30">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>CHUYÊN MỤC</h5>
                            </div>

                            <!-- Catagory Widget -->
                            <ul class="catagory-widgets">
                                <li><a href="/list/giao-duc"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Giáo dục</span></a></li>
                                <li><a href="/list/phap-luat"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Pháp luật</span> </a></li>
                                <li><a href="/list/cong-nghe"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Công nghệ</span> </a></li>
                                <li><a href="/list/doi-song"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Đời sông</span> </a></li>
                                <li><a href="/list/quan-su"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Quân sự</span></a></li>
                                <li><a href="/list/the-thao"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Thể thao</span> </a></li>
                                <li><a href="/list/kinh-doanh"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Kinh doanh</span> </a></li>
                                <li><a href="/list/giai-tri"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Giải trí</span> </a></li>
                                <li><a href="/list/du-lich"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Du lịch</span> </a></li>
                            </ul>
                        </div>

                        <!-- <div class="single-sidebar-widget p-30"> -->
                            <!-- Section Title -->
                            <!-- <div class="section-heading"> -->
                                <!-- <h5>NHÃN</h5> -->
                            <!-- </div> -->

                            <!-- Catagory Widget -->
                            <!-- <ul class="catagory-widgets">
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Bóng đá</span></a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Khủng hoảng</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Ca sĩ</span> </a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Tai nạn</span> </a></li>
                            </ul> -->
                        <!-- </div> -->

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Archive Post Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
     <%- include('../layouts/TrangChu/footer') -%>
                                        <!-- ##### Footer Area End ##### -->

                                        <!-- ##### All Javascript Script ##### -->
                                        <!-- jQuery-2.2.4 js -->
                                        <script
                                            src="../../public/vendors/template/js/jquery/jquery-2.2.4.min.js"></script>
                                        <script
                                            src="../../public/vendors/template/js/jquery/jquery-2.2.4.min.js"></script>

                                        <!-- Popper js -->
                                        <script src="../../public/vendors/template/js/bootstrap/popper.min.js"></script>
                                        <!-- Bootstrap js -->
                                        <script
                                            src="../../public/vendors/template/js/bootstrap/bootstrap.min.js"></script>
                                        <!-- All Plugins js -->
                                        <script src="../../public/vendors/template/js/plugins/plugins.js"></script>
                                        <!-- Active js -->
                                        <script src="../../public/vendors/template/js/active.js"></script>
</body>

</html>