<div class="content-box-list-subscriber">
    <div class="content-box-list-subscriber-header p-sm-0 shadow-sm">
        <div class="content-box-title">
            <p>Danh sách bài viết</p>
        </div>

        <div class="content-box-tool">
            <a >
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="content-box-list-subscriber-content shadow p-4 mb-4 bg-white" id="list-subscriber-main">
        <div class="table-responsive">
            <table class="table table-hover" id="main-table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên tài viết</th>
                        <th scope="col">Danh sách tag</th>
                    </tr>
                </thead>
                <tbody>
                    <%listResult.forEach(function(value,i){%>
                        <tr>
                            <td><a href="/Administrator/ManageTag/<%=value.idBaiViet%>"><%=i+1%></a></td>
                            <td><a href="/Administrator/ManageTag/<%=value.idBaiViet%>"><%=value.tieuDe%></a></td>
                            <td>
                                <%value.tag.forEach(function(valueTag,j){%>
                                    <%if (j != value.tag.length - 1){%>
                                        <a href="/Administrator/ManageTag/<%=value.idBaiViet%>"><%=valueTag + ", "%></a>
                                    <%}else{%>
                                        <a href="/Administrator/ManageTag/<%=value.idBaiViet%>"><%=valueTag%></a>
                                    <%}%>
                                <%});%>
                            </td>
                            
                        </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>